<header id="header">
	<a href="{{ site.baseurl }}">
		<img src="{{ "/img/emerald.svg" | prepend: site.baseurl | replace: '//', '/' }}" alt="Emerald">
	  <h2>Karthik Venkataraman, PhD</h2>
		<p></p>
		<p>
			 <a href = "https://karthik-33.github.io/Hello-World"><img src = "../img/aboutme.png" width = "50" height = "50" hspace = "5">
			 </a>
			 <a href="https://github.com/karthik-33"><img src = "../img/github.png" width = "50" height = "50" hspace = "5">
			 </a>
			 <a href="https://www.linkedin.com/in/karthikv33"><img src = "../img/linkedin.png" width = "48" height = "40" hspace = "5">
			 </a>
			 <a href = "https://karthik-33.github.io/capstone"><img src = "../img/capstone.jpg" width = "100" height = "50" hspace = "5">
			 </a>
		</p>
	</a>
</header>
