<header id="header">
	<a href="{{ site.baseurl }}">

	  <h2>Karthik Venkataraman, PhD</h2>
		<p></p>
		<p><a href="https://karthik-33.github.io"><img src = "/img/kv_pic3.JPG" hspace = "40" height = "125" width = "100">
			 </a>
		</p>
		<p><a href="https://github.com/karthik-33"><img src = "/img/github.png" width = "50" height = "50" hspace = "100">
			 </a>
			 <a href="https://www.linkedin.com/in/karthikv33"><img src = "/img/linkedin.png" width = "48" height = "40" hspace = "100">
			 </a>
		</p>
	</a>
</header>
